{% extends "base.html" %}
{% load static%}
  {% block title%} 
   My BLog
   {% endblock %}

   {% block css_files%} 
   <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
   <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
  {% endblock%}
  
   {% block content%}
    


   <section id="welcome">
     <header>
       <img src="{% static "blog/images/arun.jpeg" %}" alt="Arun-Author of the blog"/>
       <h2> Welcome to my Blog<h2>
        <p>Hi, I am  Arun Giri.I am a Sophomore,majoring in Computer Science at Fisk University.You can view my resume <a href="../../static/blog/images/ArunGiri.pdf" download>Here.</a></p>
     </header>

    
   </section>

   <section id="latest-posts">
     <h2>My Latest Thoughts</h2>
     <ul>
      {% for post in posts%}
      {% include "blog/includes/post.html"%}
      {% endfor %}
      <ul>
   </section>

   {% comment %} <section id="about">
     <h2>About me </h2>
     <p> I am a Sophomore at Fisk Univeristy majoring in Computer Science</p>
     
  </section> {% endcomment %}

   <footer>
    <ul>
        <li><a target=" " href="https://www.facebook.com/arun.giri.73932/">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/arungiri12/">Linkedin</a></li>
        <li><a href="mailto:arungirii100@gmail.com">Email</a></li>
        <li><a href="mailto:arungirii100@gmail.com">Instagram</a></li>
        <li><a target=" " href="https://github.com/ArunGiri392/">Github</a></li>
       

    </ul>

  </footer>
  <script src="{% static "blog/index.js" %}"></script>

   {% endblock %}

    
