{% extends "base.html" %}
{% load static%}
  {% block title%} 
   My BLog
   {% endblock %}

   {% block css_files%} 
   <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
   <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
  

   {% endblock%}
  
   {% block content%}
    


   <section id="welcome">
     <header>
       <img src="{% static "blog/images/arun.jpg" %}" alt="Arun-Author of the blog"/>
       <h2> <span style="color:green;font-weight:bold">Arun's Blog</span> </h2>
     </header>
     <p>Hi, I am  <span style="color:red;font-weight:bold">Arun Giri</span> and I am a <span style="color:red;font-weight:bold">Programmer.</span> </p>
   </section>

   <section id="latest-posts">
     <h2><span style="color:red;font-weight:bold">My latest Thoughts</span> </h2>
     <ul>
      {% for post in posts%}
      {% include "blog/includes/post.html"%}
      {% endfor %}
      <ul>
   </section>
   <section id="about">
     <h2>About me </h2>
     <p> <span style="color:green;font-weight:bold">I am a computer science student at Fisk University and I am currently in my sophomore year. I am from Nepal and I love programming.</span></p>
     <a href="https://www.linkedin.com/in/arungiri12/" target=""> <span style="color:green;font-weight:bold"> Connect me at Linkedin</span> </a>
    
   </section>

   {% endblock %}

    
